/* Aggiungi questo CSS al tuo file home.css */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    padding: 20px;
    z-index: 99;
  }

  .navbar a {
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
  }

  .navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .hamburger {
    display: flex;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
